@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
body {
  background-color: #222222;
  background: repeating-linear-gradient(
      45deg,
      #2b2b2b 0%,
      #2b2b2b 10%,
      #222222 0%,
      #222222 50%
    )
    0 / 15px 15px;
}
.App {
  text-align: center;
}
.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(119, 119, 247);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  text-align: left;
  align-items: center;
  padding: 0px 10px;
  font-size: 3vw;
  text-transform: uppercase;
}
.left p {
  font-size: 2em;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p:nth-child(1) a {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: none;
}

p:nth-child(1) a:hover {
  color: #228dff;
  -webkit-animation: none;
  -moz-animation: none;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

.right ul li {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 15px;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(234, 203, 255);
  border-radius: 4px;
  cursor: pointer;
}
.right ul li:hover {
  box-shadow: none;
}
.aboutPage h2,
.ShopPage h2,
.homePage h2 {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  font-weight: normal;
  color: rgb(108, 108, 240);
}
/* Store */
.items-div {
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
}
.items {
  margin: 10px;
  position: relative;
  width: 21%;
  height: 330px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}
.items p {
  position: absolute;
  bottom: 0;
  font-size: 1.3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 550px) {
  .left {
    font-size: 5vw;
  }
  .items-div {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .items {
    width: 90%;
    align-self: center;
    border-radius: 10px;
  }

  .items p {
    position: absolute;
    bottom: 0;
    font-size: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #fff;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
